*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

a{
    text-decoration: none;
}




body{
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#menu{
    width: 40vw;
    height: 40vw;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 100px;
    font-size: 3em;
    
}

li{
    padding: 5px;
    font-size: 1.5em;
}

li :hover{
    text-decoration: underline;
}



@media screen and (min-width:1100px){
    h1{
        font-size: 4.5em;
    }
    li{
        font-size: 2em;
        padding: 15px;
    }
}


@media screen and (min-width:1600px){
    #menu{
        position: relative;
    }
    ul{
        position: relative;
        top: 80px;
    }
}